*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}


body{
    background: linear-gradient(0deg, #3e6e66, #bcfdf2);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    color:rgba(22, 22, 22, 0.849);
}

#title{
    margin-bottom: -5px;

}

#subtitle{
    margin-bottom: 15px;
}


form{
    margin-bottom: 150px;
}

fieldset {
    border: 0;
    
}

input, select, textarea, button  {
    border-radius: 6px;
    padding: 4px;
   font-size: 1em;
}

.group:before, .group:after {
    display: table;
}

.group::after{
    clear: both;
}

.camp{
    margin-bottom: 0.5em;
    align-items: center;
    display: grid;
    
}

.check{
    margin-bottom: 1em;
}

.camp label {
    margin-bottom: 0.2em;
}

.camp input[type="text"], .camp input[type="email"], .camp select, .camp textarea {
    padding: 0.2em;
    border: 1px solid #346e4e;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.camp select option {
    padding-right: 1em;
}

.camp input:focus, .camp select:focus, .camp textarea:focus {
    background: #f0fffe;
}

.button {
    font-size: 1.2em;
    background: #293f23;
    border: 0;

    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    float: right;
  

}
